@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Cabin', sans-serif;
    background-color: var(--darkest-jet) !important;
  }
}

@layer components {

  .tooltip:before{
    background-color: #0b0b0b !important;
  }
  
  .tooltip-top:after{
    border-color: transparent transparent #0b0b0b  transparent !important;
  }
  
  .tooltip-bottom:after{
    border-color: transparent transparent #0b0b0b  transparent !important;
  }
  
  .tooltip-left:after{
    border-color: transparent transparent #0b0b0b  transparent !important;
  }
  
  .tooltip-right:after{
    border-color: transparent #0b0b0b transparent  transparent !important;
  }
  
  #nav-left .tooltip-bottom:before {
    left: calc(50% + 18px) !important;
  }
  #nav-right .tooltip-bottom:before {
    left: 50% !important;
  }
  
  .round {
    border-radius: 50% !important;
  }

  .nav-btn {
    @apply
      px-5
      py-2
      h-11
      border-r
      border-onyx
      text-grayXgray
      hover:text-platinium
      transition duration-300
      hover:bg-side_black
  }

  .new-elm {
    @apply
      w-full
      min-h-12
      border-none
      text-grayXgray
      hover:bg-jet
      hover:text-platinium
      !text-left
      px-3
      py-2
  }

  .open-tab {
    @apply
      text-xl
      w-70px
      h-70px
      py-10px
      px-15px
      border-none
      transition duration-300
      rounded-br
      rounded-tr
      hover:text-platinium
      hover:bg-side_black
  }

  .workspace-title {
    @apply
      pl-3
      pb-3
      transition duration-500
      text-sea_green
      -z-1
      text-[17px]
      inline-flex
      font-righteous
  }

  .workspace-text {
    @apply
      truncate
      overflow-hidden
      whitespace-nowrap
  }

  .link-title {
    @apply
      h-full
      w-full
      z-1
      absolute
  }
  
  .hrLine {
    @apply
      border-b
      w-[90%]
      border-sea_green
      border-opacity-40
  }
  

  .file-path-top-text a {
    @apply
    font-righteous
    text-grayXgray
    border-transparent
    rounded
    transition duration-200
    px-[6px]
    py-1
    !no-underline
    hover:text-platinium
    hover:bg-like_trans
  }

  .chart-type-cards {
    @apply
      col-span-1
      bg-earie_black
      p-3
      pb-1
      rounded
      shadow-md
      max-w-[110px]
      text-grayXgray
      border border-transparent
      hover:text-platinium
      hover:bg-darker_jet
      transition duration-300
      cursor-pointer
  }

  .chart-title {
    @apply
      text-center
      text-sm
      p-1
  }

  /*! WORKSPACE -------------------------------------------- */
  .tree-elm {
    @apply
      btn
      bg-transparent
      text-grayXgray
      border-none
      rounded-none
      justify-start
      px-3
      pl-0
      w-full
      h-8
      min-h-8
      hover:bg-earie_black
      hover:text-platinium
      normal-case
      no-animation
      flex-nowrap
      truncate
  }

  .tree-cursor {
    @apply
      mr-4
      transition duration-300
      p-[5px]
      flex
      rounded
      hover:bg-jet_mid
  }
  /*! ------------------------------------------------------ */

  /*! LOGIN SCREEN ----------------------------------------- */
  .social {
    @apply
    border
    round
    inline-flex
    justify-center
    items-center
    my-0
    mx-[5px]
    h-10
    w-10
    transition duration-500
    text-lg
    hover:bg-cadmium_green
    hover:text-platinium
  }

  .form {
    @apply
      bg-darker_jet
      flex
      items-center
      justify-center
      flex-col
      py-0
      px-[50px]
      h-full
      text-center
      text-grayXgray
  }

  .logo {
    @apply
      drop-shadow-logo
  }

  .logo-text{
    @apply
      text-base
      font-normal
      leading-5
      tracking-[3px]
      mb-[30px]
      font-righteous
      text-grayXgray

  }

  .logo-title{
    @apply
      font-righteous
      font-normal
      text-jet_mid
      drop-shadow-logo-title
      tracking-[3px]
      text-[2.5rem]
      leading-tight
      
  }

  .giris-a {
    @apply
      text-grayXgray
      text-sm
      no-underline
      my-[15px]
      mx-0
      transition duration-300
  }

  .input {
    @apply
      bg-jet_mid
      text-grayXgray
      px-[15px]
      my-2
      mx-0
      border-[1px]
      border-transparent
      rounded
      focus:bg-onyx
      focus:text-platinium
      focus:border-onyx_light
      focus:outline-none
      placeholder:opacity-50
      h-10
  }

  .button {
    @apply
      rounded
      bg-cadmium_green
      text-platinium
      text-xs
      font-bold
      py-3
      px-[45px]
      tracking-[1px]
      uppercase
      transition duration-300

      hover:bg-sea_green
      active:scale-95
  }

  .ghost {
    @apply
      bg-transparent
      text-jet_mid
      border border-jet_mid

      hover:bg-jet_mid
      hover:text-grayXgray
  }

  

  .form-container {
    @apply
      absolute
      top-0
      h-full
      transition-all duration-700 ease-in-out
  }

  .overlay-panel {
    @apply
      absolute
      flex
      items-center
      justify-center
      flex-col
      py-0
      px-10
      text-center
      top-0
      h-full
      w-1/2
      translate-x-0
      transition-transform duration-700
  }

  .signUp-right-panel-active {
    @apply
      !translate-x-[100%]
      !opacity-100
      !z-[5]
  }

  /*!------------------------------------------------------------------- */

  /*!Collections-------------------------------------------------------- */
  .workspace-titles {
    @apply
      mb-5
      mt-4
      text-grayXgray
      text-[2rem]
      font-righteous
      pl-[10px]

  }

  .card {
    @apply
      relative
      h-60
      rounded
      transition duration-500
      bg-black_light
      cursor-pointer
      overflow-hidden
      shadow-card
      hover:shadow-cardHover
  }

  .card-bg {
    @apply
      scale-110
      transition duration-[800ms]
      w-full
      h-full
      absolute
      bg-[url('/src/img/card-wp6.png')]
      bg-center
      bg-cover
      opacity-80
      hover:scale-125
      
  }

  .fold-bg {
    @apply
      !bg-[url('/src/img/fold-wp1.png')]
  }

  .file-bg {
    @apply
      !bg-[url('/src/img/file-wp1.png')]
  }

  /* .col-card {
    @apply
      max-w-[200px]
      min-w-[150px]
      mt-[25px]
      px-3
  }

  .fold-card {
    @apply
      max-w-[200px]
      min-w-[150px]
      mt-[25px]
      px-3
  } */

  .fold-card .card {
    @apply
      h-[100px]
  }

  .col-content {
    @apply
      text-center
      top-1/2
      px-[5px]
      py-[5px]
      -translate-y-1/2
      relative
      text-[23px]
      text-platinium
      z-1
      transition duration-500
      font-righteous
      break-all
  }

  .fold-content {
    @apply
      text-right
      py-[5px]
      text-xl
      break-all
  }

  .add .card {
    @apply
      bg-shadow_green
      opacity-60
      transition duration-500
      hover:opacity-100
  }


  .hrCols {
    @apply
      mt-[50px]
      ml-2
      border-hr_gray
  }

  /*!--------------------------------------------------------------  */

  /*! SETTINGS-----------------------------------------------------  */

  .label {
    @apply
      py-0
  }

  .label-text {
    @apply
      font-semibold
  }

  /*!--------------------------------------------------------------  */

  /*! LAYOUT PANELS -----------------------------------------------  */

  .panels {
    @apply
      rounded
      bg-middle_black
      shadow-md
      hover:bg-side_black
      !transition !duration-300
  }

  .panels-title {
    @apply
      pt-3
      pl-6
      pr-3
      flex
      text-xl
      absolute
      cursor-default
      text-cultured
      justify-between
      z-10
  }

  #pivotGrid {
    @apply
      h-screen
  }
  /*! -------------------------------------------------------------  */

  /*! MODAL CREATE-------------------------------------------------  */

  /* TABLE------------------------------------- */
  #source_table thead tr th {
    @apply
      bg-side_black
      text-grayXgray
      pt-[20px]
      pb-[15px]
  }

  #source_table tbody tr{
    @apply
      bg-darkest_jet
      text-grayXgray
      transition
      duration-300
      hover:bg-jet
      hover:text-platinium
      cursor-pointer
      
  }
  
  .table :where(tbody th, tbody td) {
    @apply
      bg-transparent
  }
  
  .table :where(th, td) {
    @apply
      py-[6px]
      border-side_black
  }

  .table th:first-child {
    position: static;
  }
  
  :where(.table *:first-child) :where(*:first-child) :where(th, td):first-child {
    @apply
      rounded-tl-none
  }
  :where(.table *:first-child) :where(*:first-child) :where(th, td):last-child {
    @apply
      rounded-tr-none
  }
  :where(.table *:last-child) :where(*:last-child) :where(th, td):first-child {
    @apply
      rounded-bl-none
  }
  :where(.table *:last-child) :where(*:last-child) :where(th, td):last-child {
    @apply
      rounded-br-none
  }
  /* ------------------------------------------ */

  /*? Review Table  -----------------------*/
  .table-wrapper {
    @apply
      !p-0
  }
  
  .table-wrapper tr:hover td {
    @apply
      !bg-jet
      !text-platinium
  }
  
  .table-wrapper thead tr th {
    @apply
      bg-side_black
      text-grayXgray
      pt-[14px]
      pb-[14px]
      text-xs
      border-none
  }

  .table-wrapper tbody td {
    @apply
      !bg-darkest_jet
      !text-grayXgray
      transition
      duration-300
      hover:bg-jet
      hover:text-platinium
      py-[6px]
      px-4
      !border-none
  }

  .table-wrapper tbody tr {
    @apply
    border border-red-600
  }

  .table-wrapper .gridjs-wrapper {
    @apply
      !border-none
      !rounded
      !overflow-visible
  }

  .table-wrapper.gridjs-container {
    @apply
      !overflow-visible
  }

  .table-wrapper .gridjs-tr {
    @apply
      border-solid
      border-x-0
      border-b-0
      border-t-side_black
  }

  .table-wrapper thead .gridjs-tr {
    @apply
      border-none
  }
  
  .table-wrapper button.gridjs-sort { /*! Sort butonu */
    @apply
      h-4
  }

  .table-wrapper th.gridjs-th-sort:hover {
    @apply
      transition duration-300
      !bg-middle_black
      !text-platinium
  }

  .table-wrapper th.gridjs-th-sort:focus {
    @apply
      border-solid
      border-x-0
      border-t-0
      border-b-onyx_middle
      !bg-middle_black
      !text-platinium
  }

  .table-wrapper .gridjs-head {
    @apply
      p-0
      m-0
  }

  .table-wrapper .gridjs-search {
    @apply
      text-center
      float-none
  }

  .table-wrapper .gridjs-search-input {
    @apply
      bg-jet_mid
      text-grayXgray
      my-2
      border-[1px]
      border-transparent
      rounded
      shadow-md
      focus:!bg-onyx
      focus:!text-platinium
      focus:!border-onyx_light
      focus:!shadow-none
      focus:!outline-none
      placeholder:opacity-50
      h-10
  }
  /*?--------------------------------------*/


  .modal {
    @apply
      duration-150
  }

  .modal-box {
    @apply
      shadow-lg
  }

  .elm_info_cards {
    @apply
      relative
      col-span-3
      bg-side_black
      border border-jet_mid
      hover:bg-middle_black
      hover:border-onyx
      rounded
      shadow-md
      h-[70px]
      z-10
      p-2
      truncate
      transition-all duration-150
      cursor-pointer
  }

  .info_cards {
    @apply
      absolute
      bg-side_black
      shadow-md
      border border-jet_mid
      hover:bg-middle_black
      hover:border-onyx
      p-2
      h-1
      w-1
      transition-all duration-500
      rounded
      overflow-hidden
      z-1
      hidden
      cursor-pointer
  }

  .elm_info_cards:active , .info_cards:active {
    @apply
      scale-105
      border-graysix
  }

  .collapse_extra {
    @apply
      border
      border-jet_mid
      rounded
      mb-2
      bg-darker_jet
      shadow-md
      hover:bg-jet
      transition-all
      duration-300
  }

  .collapse-plus .collapse-title:after {
    @apply
      top-2
  }

  .collapse-open :where(.collapse-content), .collapse:focus:not(.collapse-close) :where(.collapse-content), .collapse:not(.collapse-close) :where(input[type="checkbox"]:checked ~ .collapse-content) {
    padding-bottom: 0.5rem;
  }

  .table_col_cards {
    @apply
      relative
      col-span-6
      bg-side_black
      border border-jet_mid
      hover:bg-middle_black
      text-grayXgray
      hover:text-platinium
      rounded
      shadow-md
      min-h-[55px]
      z-10
      p-2
      truncate
      transition-all duration-300
      cursor-pointer
      leading-4
  }

  .table_layout {
    @apply
      w-full
      bg-darker_jet
      mt-3
      rounded
      shadow-md
      relative
      grid grid-cols-12 grid-flow-row auto-rows-max gap-2
      p-2
      overflow-auto
      border border-side_black
      mb-2
  }

  .condition_row_cards {
    @apply
      relative
      col-span-12
      grid grid-cols-12 grid-flow-row auto-rows-max gap-2
      bg-side_black
      border border-jet_mid
      text-grayXgray
      rounded
      shadow-md
      p-2
      transition-all duration-150
      leading-4
  }

  .condition_select {
    @apply
      select
      min-h-0
      w-full
      max-h-10
      !rounded
      focus:outline-none
      focus:border-onyx_light
      focus:bg-onyx
      bg-jet_mid
      text-grayXgray
      hover:text-platinium
      col-span-12 lg:col-span-4
      px-2
      
  }

  .condition_input{
    @apply
      input
      input-bordered
      input-sm
      w-full
      shadow-md
      m-0
      col-span-12 lg:col-span-4 xl:col-span-5
      px-2
  }

  .bounder {
    @apply
      bg-jet
      border border-jet_light
      hover:bg-jet_light
      hover:border-onyx
      w-24
      h-10
      absolute
      shadow-md
      rounded
      z-50
      left-1/2
      -translate-x-1/2
      -top-6
      transition duration-300
      truncate
      px-1
  }

  .choose_color {
    @apply
      absolute
      bg-darkest_jet
      border border-jet_mid
      right-4
      top-4
      pt-2
      rounded
      shadow-md
      z-50
      transition duration-300
      h-fit
      w-fit
      min-w-[150px]
      opacity-0
      cursor-default
      overflow-x-hidden
  }

  .choose_color.active {
    @apply
      opacity-100
      cursor-auto

  }

  .group-btn {
    @apply
      leading-loose
      text-grayXgray
      hover:text-platinium
      hover:bg-jet_light
      px-2
      cursor-pointer
      transition duration-300
  }

  /*! -------------------------------------------------------------  */
  
  .green-btn {
    @apply
      btn
      font-righteous
      bg-cadmium_green
      rounded
      text-grayXgray
      transition-all
      duration-300
      hover:bg-green_pantone
      hover:text-platinium
      normal-case
      w-max
      text-sm
      px-2
      font-light
      leading-none
      h-fit
      min-h-[30px]
      shadow-md
      focus-visible:outline-onyx_light
      focus-visible:outline-offset-0
  }

  .gridjs-wrapper {
    @apply
      rounded-none
  }
  
  .gray-btn {
    @apply
      btn
      font-righteous
      bg-onyx
      rounded
      text-grayXgray
      transition-all
      duration-300
      hover:bg-onyx_light
      hover:text-platinium
      normal-case
      w-max
      text-sm
      px-2
      font-light
      leading-none
      h-fit
      min-h-[30px]
      shadow-md
  }

  .danger-btn {
    @apply
      btn
      font-righteous
      bg-danger
      rounded
      text-grayXgray
      transition-all
      duration-300
      border-t-0
      border-b-0
      hover:bg-danger_light
      hover:text-platinium
      normal-case
      w-max
      text-sm
      px-2
      font-light
      leading-none
      h-auto
      min-h-[30px]
      shadow-md
      focus-visible:outline-onyx_light
      focus-visible:outline-offset-0
  }
  
  .remove-btn {
    @apply
      btn
      rounded
      bg-transparent
      text-danger_light
      border-none
      transition-all
      duration-300
      hover:text-onyx_light
      hover:bg-transparent
      normal-case
      text-base
      pr-[2px]
      font-light
      leading-none
      h-[29px]
      min-h-[29px]
  }

  .dlt-btn {
    @apply
      absolute
      right-0
      leading-none
      pr-2
      pt-1
      text-platinium
      z-2
      opacity-50
      transition duration-300
      hover:scale-125
      hover:opacity-100
  }
}


@layer utulities {
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #292929;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #1B1B1B;
    border: 1px solid transparent;
    border-radius: 4px;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #181818;
    border: 1px solid transparent;
    border-radius: 4px;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-corner{
    background: #222222;
  }

}
