@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Cabin', sans-serif;
    background-color: var(--darkest-jet) !important;
  }
  
  .tooltip:before{
    background-color: #0b0b0b !important;
  }
  
  .tooltip-top:after{
    border-color: transparent transparent #0b0b0b  transparent !important;
  }
  
  .tooltip-bottom:after{
    border-color: transparent transparent #0b0b0b  transparent !important;
  }
  
  .tooltip-left:after{
    border-color: transparent transparent #0b0b0b  transparent !important;
  }
  
  .tooltip-right:after{
    border-color: transparent #0b0b0b transparent  transparent !important;
  }
  
  #nav-left .tooltip-bottom:before {
    left: calc(50% + 18px) !important;
  }
  #nav-right .tooltip-bottom:before {
    left: 50% !important;
  }
  
  .round {
    border-radius: 50% !important;
  }
}

@layer components {

  .nav-btn {
    @apply
      px-5
      py-2
      h-11
      border-r
      border-onyx
      text-grayXgray
      hover:text-platinium
      transition duration-300
      hover:bg-side_black
  }

  .new-elm {
    @apply
      w-full
      min-h-12
      border-none
      text-grayXgray
      hover:bg-jet
      hover:text-platinium
      !text-left
      px-3
      py-2
  }

  .open-tab {
    @apply
      text-xl
      w-70px
      h-70px
      py-10px
      px-15px
      border-none
      transition duration-300
      rounded-br
      rounded-tr
      hover:text-platinium
      hover:bg-side_black
  }

  .workspace-title {
    @apply
      pl-3
      pb-3
      transition duration-500
      text-sea_green
      -z-1
      text-[17px]
      inline-flex
      font-righteous
  }

  .workspace-text {
    @apply
      truncate
      overflow-hidden
      whitespace-nowrap
  }

  .hrLine {
    @apply
      border-b
      w-[90%]
      border-sea_green
      border-opacity-40
  }
  

  .file-path-top-text a {
    @apply
    font-righteous
    text-grayXgray
    border-transparent
    rounded
    transition duration-200
    px-[6px]
    py-1
    !no-underline

    hover:text-platinium
    hover:bg-like_trans
  }

  /*! LOGIN SCREEN ----------------------------------------- */
  .social {
    @apply
    border
    round
    inline-flex
    justify-center
    items-center
    my-0
    mx-[5px]
    h-10
    w-10
    transition duration-500
    text-lg
    hover:bg-cadmium_green
    hover:text-platinium
  }

  .form {
    @apply
      bg-darker_jet
      flex
      items-center
      justify-center
      flex-col
      py-0
      px-[50px]
      h-full
      text-center
      text-grayXgray
  }

  .logo {
    @apply
      drop-shadow-logo
  }

  .logo-text{
    @apply
      text-base
      font-normal
      leading-5
      tracking-[3px]
      mb-[30px]
      font-righteous
      text-grayXgray

  }

  .logo-title{
    @apply
      font-righteous
      font-normal
      text-jet_mid
      drop-shadow-logo-title
      tracking-[3px]
      text-[2.5rem]
      leading-tight
      
  }

  .giris-a {
    @apply
      text-grayXgray
      text-sm
      no-underline
      my-[15px]
      mx-0
      transition duration-300
  }

  .input {
    @apply
      bg-jet_mid
      text-grayXgray
      py-3
      px-[15px]
      my-2
      mx-0
      w-full
      border-[1px]
      border-transparent
      rounded
      focus:bg-onyx
      focus:text-platinium
      focus:border-onyx_light
      focus:outline-none
  }

  .button {
    @apply
      rounded
      bg-cadmium_green
      text-platinium
      text-xs
      font-bold
      py-3
      px-[45px]
      tracking-[1px]
      uppercase
      transition duration-300

      hover:bg-sea_green
      active:scale-95
  }

  .ghost {
    @apply
      bg-transparent
      text-jet_mid
      border border-jet_mid

      hover:bg-jet_mid
      hover:text-grayXgray
  }

  

  .form-container {
    @apply
      absolute
      top-0
      h-full
      transition-all duration-700 ease-in-out
  }

  .overlay-panel {
    @apply
      absolute
      flex
      items-center
      justify-center
      flex-col
      py-0
      px-10
      text-center
      top-0
      h-full
      w-1/2
      translate-x-0
      transition-transform duration-700
  }

  .signUp-right-panel-active {
    @apply
      !translate-x-[100%]
      !opacity-100
      !z-[5]
  }

  /*!------------------------------------------------------------------- */

  /*!Collections-------------------------------------------------------- */
  .workspace-titles {
    @apply
      mb-0
      mt-4
      text-grayXgray
      text-[2rem]
      font-righteous
      pl-[10px]
  }

  .card {
    @apply
      relative
      h-60
      rounded
      transition duration-500
      bg-black_light
      cursor-pointer
      overflow-hidden
      shadow-card
      hover:shadow-cardHover
  }

  .card-bg {
    @apply
      scale-110
      transition duration-[800ms]
      w-full
      h-full
      absolute
      bg-[url('/src/img/card-wp6.png')]
      bg-center
      bg-cover
      opacity-80
      hover:scale-125
      
  }

  .fold-bg {
    @apply
      !bg-[url('/src/img/fold-wp1.png')]
  }

  .file-bg {
    @apply
      !bg-[url('/src/img/file-wp1.png')]
  }

  .col-card {
    @apply
      max-w-[200px]
      min-w-[150px]
      mt-[25px]
      px-3
  }

  .fold-card {
    @apply
      max-w-[200px]
      min-w-[150px]
      mt-[25px]
      px-3
  }

  .fold-card .card {
    @apply
      h-[100px]
  }

  .col-content {
    @apply
      text-center
      top-1/2
      px-[5px]
      py-[5px]
      -translate-y-1/2
      relative
      text-[23px]
      text-platinium
      z-1
      transition duration-500
      font-righteous
      break-all
  }

  .fold-content {
    @apply
      text-right
      py-[5px]
      text-xl
      break-all
  }

  .add .card {
    @apply
      bg-shadow_green
      opacity-60
      transition duration-500
      hover:opacity-100
  }


  .hrCols {
    @apply
      mt-[50px]
      ml-2
      border-hr_gray
  }


  .dlt-btn {
    @apply
      btn
      btn-square
      w-7
      h-7
      min-h-6
      absolute
      right-0
      z-1
      mt-1
      mr-1
      border-transparent
      opacity-60
      bg-danger
      text-grayXgray
      hover:bg-danger_light
      hover:text-platinium
      hover:border-onyx_light
      hover:opacity-100
      
  }

  /*!--------------------------------------------------------------  */

  /*! SETTINGS-----------------------------------------------------  */

  .label {
    @apply
      py-0
  }

  .label-text {
    @apply
      font-semibold
  }

  /*!--------------------------------------------------------------  */

}


@layer utulities {

}
